.btm_row { font-family:'Lato', sans-serif;
    font-weight: 900;
    letter-spacing: 0.6px;
}
.textm, .header_lint { font-family:'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 0.6px;
    
    }
    .textm {
        line-height: 1.5;}
.h11 {font-family: 'Raleway', sans-serif;}
.h12 {font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin: 4px 00 0 4px;
    letter-spacing: 0.6px;
    font-weight: 800;
}

* {margin: 0;}
body {background-color: #fafcfc;}

.menu {
    display: none;
}

 

.hbody {
    display: flex;
   width: 110%;
}
.hlogo {
    flex: 0 0 70px;
 
    
}
.header_menu {
    width: 100%;
}
.header_list {display: flex;
}
    
.header_list li {
    list-style: none;
    /* margin: 0 0 0 9.9%; */
  
} 
.header_list li:first-child {
    margin: 0 0 0 18.1%;
  
}
.header_list li:last-child {
    margin: 0 0 0 9.5%;
  
} 
.header_list .backlast1 { margin-left: 9.5%;}
.header_list .backlast2 { margin-left: 10%;}
.header_list {
    padding: 0;
   
}
/* .header_lint:hover {
 border-bottom: 4px solid #18a3dd;
border-left: 5px;

} */


.header_lint {
    text-decoration:none; /*Убираем стандартное подчёркивание ссылки если оно ещё не убрано*/
    display: inline-block; /*делаем чтобы наша ссылка из строчного элемента превратилась в строчно-блочный*/
    line-height: 21px; /*Задаём высоту строки (можно в пикселях)*/
    color:#2F73B6;/*Задаём цвет ссылки*/
    height: 21.9px;
    }
    .header_lint:after {
        display: block; /*превращаем его в блочный элемент*/
        content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
        height: 4px; /*задаём высоту линии*/
        width: 0; /*задаём начальную ширину элемента (линии)*/
        background-color: #18a3dd;; /*цвет фона элемента*/
        transition: width 0.2s linear; /*данное свойство отвечает за плавное изменение ширины. Здесь можно задать время анимации в секундах (в данном случае задано 0.4 секунды)*/
        border-radius: 10px;


        }
        .header_lint:hover:after,
        .header_lint:focus:after {
            width: calc(100% + 14px)

}
.backlast {margin: 0 0 0 1px;}







    

.header_lint {
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-decoration: none;
   padding-bottom: 1.1px;
}
.hbody { position: relative;

    display: flex;
    
    height: 40px;
    align-items: center;
    }

.content_in {
    margin: 208px 0 0 0;
}
.text_row { 
 display: flex;   
 align-items:end;
}
.text_h1 {
    margin: 0 0 0 23px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #333740;
   
}

.h11 {
    font-size: 72px;
    text-transform: uppercase;
    
}

.span {
    height: 200px;
    height: 100px;
    width: 5px;
    background-color: #18a3dd;
    border-radius: 20px;
}
.textm {
    color:#5e5d5d;
    margin: 49px 0 66px 0;
    font-size: 16px;
}
.btm_row {
    display: flex;
    align-items: center;
   justify-content: space-between;
   max-width: 397px;
   font-size: 14px;
}
.port1 {
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    transition: all .4s;
    
    
    }
.port1:hover {
    color:#18a3dd;
    /* font-size: 0.91rem; */
    transition: all .5s;
}
.port11 { 
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
    background-color: #18a3dd;
    padding: 17.5px 43px;
    border-radius: 40px;
    text-transform: uppercase;  
    transition: all .4s;
   
}
.port11:hover {
    color: #40a0ca;
    background-color: #333740;
    transition: all .4s;
}


.conv_row {
    display: flex;
    align-items: stretch;
    /* justify-content: space-between; */
    flex: 1 0 145px;
    align-items: center
}

path {
    fill: #18a3dd;
}


/* .conv2 img { width: 100%;}
.conv2 {flex: 0 0 16px;f

} */
.btmm a { background-color: aqua;

}

.container {
    max-width: 1185px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto 0 auto;


}
.content {
    margin-top: 12px ;
    width: 50%;
}
.imgI {
    /* max-width: 580px; */
   
    position: relative;
  
}
.imgI{
    padding-left: 150px;
    background-image: url("1.png");
    background-position: 0% 36.3%;
    background-repeat: no-repeat;
    /* background-position: -4.9% 38.5%; */
  }
.asd1{
    padding-right: 150px;
    background-image: url("2.png");
    background-position: 100% 65%;
    /* background-position: 104.5% 69.8%; */
    background-repeat: no-repeat;
  } 

 
.imgI img {
    /* max-width: 100%; */
display: block;
width: 100%;

}

@media (max-width: 886px) {
    .asd1 {background-image: none}
    .imgI{
        background-image: none;
        position:absolute;
        width: 100%;
        z-index: 1;
        padding: 0;
        padding: 0;

    }

    .asd1 { padding: 0;}
    .content {
         position: relative;
        z-index: 5; 
        display: block;
        width: 100%;
        margin: 5px ;
      
    }
    .header_list {
        display: none;
    }
  
    
    /* text */
    .h11 {
        font-size: 46px;
        color: #fafcfc;
    }
    .h12 {
        font-size: 18px;
        color: #fafcfc;
    }
    .content_in {
        margin-top: 35% ;
            }
    .textm {
        margin: 20px 0 35px 0;
    }
    /* btm */
    .port1 {
        color: #fafcfc;
        font-size: 12px;
    }

    .port{
        font-size: 12px;
    }
    
   
     .line {
         width: 40px;
         border: 2px solid #ffffff; ; 
         background-color: #ffffff; 
         border-radius: 5px;
     }
     .line_between{
        width: 40px;
        border: 2px solid #ffffff; 
        background-color: #ffffff; 
        border-radius: 5px;
    }
    /* burger */
    .hbody {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
}
    .menu {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-right: 5%;
 }
}


/* 
.line { position: relative;}
.line:nth-child(1) {
    transform: rotate(45deg);
    top: 9px;
    left: 8px;
}
.menu samp:hover {
    width: 0%;
    opacity: 0;
}
.line:nth-child(3) {
    transform: rotate(-45deg);
    top: -8px;
    left: 8px;} */
